/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #000;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Cabeçalho */
.header {
    text-align: center;
    padding: 20px;
}
.logo {
    width: '100%';
    height: 300px;
    margin-bottom: 10px;
}
h1 {
    color: #00c8ff;
    font-size: 2em;
}

h2 {
    color: #00c8ff;
    font-size: 2em;
}

/* Introdução */
.intro {
    max-width: 600px;
    text-align: center;
    margin: 20px;
}

.intro h2 {
    color: #00c8ff;
}
.intro p {
    font-size: 1.1em;
    color: #bbb;
}

.plans h2 {
    text-align: center;
    color: #00c8ff;
}

/* Planos */
.plans {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 20px;
    margin-top: 80px;
}

.plan {
    background-color: #111;
    border: 2px solid #00c8ff;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
}
.plan h3 {
    color: #00c8ff;
    margin-bottom: 10px;
}
.plan p {
    color: #00c8ff;
    margin: 10px 0;
}
.price {
    font-size: 1.5em;
    color: #00c8ff;
}

.featured {
    background-color: #0f2b3a;
    border: 2px solid #00c8ff;
}

/* Estilização da imagem principal */
.logo-main {
    width: 100%; /* Adaptação ao layout */
    max-width: 700px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border: 2px solid #00c8ff;
}


/* Rodapé */
.footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #333;
    color: #bbb;
}


/* Borda animada */
.animated-border {
    border-color: #f8f2eee1 !important; /* Cor da borda animada */
}
/* Estilização da imagem principal (hero image) */
.hero-image {
    width: 100%; /* Ocupa toda a largura da tela */
    height: 80vh; /* Ocupa 80% da altura da janela */
    object-fit: cover; /* Garante que a imagem preencha o espaço proporcionalmente */
    margin: 0; /* Remove margens ao redor da imagem */
    display: block; /* Remove comportamento inline */
}
